/.vscode
/TEST2.png
/TESTEP.png
/TESTEP1.png
/TESTHM1.png
/taglist.py
/taglist.txt
/taglist2.txt
bachelorarbeit/__pycache__

**/*.png
*.png

bachelorarbeit/Fehlerellipse.py
bachelorarbeit/EventValidation.py

bachelorarbeit/IPython.py
bachelorarbeit/tests/nptests.py
bachelorarbeit/tests/test.py
